PORT=4173
HOST=127.0.0.1

XHS_ACCOUNTS=MAIN,ACCOUNT_2

XHS_MAIN_USERNAME=your_phone_or_email
XHS_MAIN_PASSWORD=your_password
XHS_MAIN_PROFILE_URL=https://xhslink.com/m/7M36wUlAHlm
XHS_MAIN_LOGIN_METHOD=password

XHS_ACCOUNT_2_PROFILE_URL=https://xhslink.com/m/your-second-account
XHS_ACCOUNT_2_LOGIN_METHOD=wechat
